<div>
  <br>
  <div>
    <h2>Create Event</h2>
  </div>
  <br>
</div>

<form [formGroup]="createFormGroup">
  <div class="form-group row">
    <div class="col-sm">
      <input id="eventName" class="form-control" placeholder="Enter name of event" formControlName="eventName">
    </div>
    <div class="col-sm">
      <input id="eventCategory" class="form-control" placeholder="Enter category of event"
             formControlName="eventCategory">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <app-date-time-picker placeholder="Select start time of event" inputDatetimeFormat="dd/MM/yyyy hh:mm a"
                            formControlName="startTime">
      </app-date-time-picker>
    </div>
    <div class="col-sm">
      <app-date-time-picker placeholder="Select end time of event" inputDatetimeFormat="dd/MM/yyyy hh:mm a"
                            formControlName="endTime">
      </app-date-time-picker>
    </div>
  </div>
  <app-event-performance-create [eventCreateFormGroup]="createFormGroup"></app-event-performance-create>
  <button type="button"
          class="btn btn-primary float-end"
          [disabled]="createFormGroup.invalid || createFormGroup.get('performances').value.size === 0"
          (click)="createEvent()">
    Create
  </button>
</form>

