<h1 class="mt-3">{{this.isEditMode ? "Edit " + venue.name : "Create a new venue:"}}</h1>

<div *ngIf="saved" class="alert alert-info alert-dismissible fade show text-center" role="info">
  <strong>It seems like you have unsaved changes from the last time using this form</strong><br>Do you want to reset the
  old changes?
  <button type="button" (click)="saved = false" class="btn btn-sm btn-secondary close" data-dismiss="alert"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="d-flex text-center justify-content-center mt-2">
    <button type="button" (click)="saved = false" class="btn btn-sm btn-outline-secondary" data-dismiss="alert"
            aria-label="Close">
      Close
    </button>
    <button type="button" (click)="reset()" class="btn btn-sm btn-outline-warning ml-3" data-dismiss="alert"
            aria-label="Reset">
      Reset
    </button>
  </div>
</div>

<h2 class="mt-2">General Information:</h2>
<form #createVenueForm="ngForm" class="form-group" (change)="saveStoredVenue()">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 col-lg-4 labeled-input">
      <label for="name">Name:</label>
      <input class="form-control" name="name" id="name" type="text" placeholder="" [(ngModel)]="venue.name" required
             #nameInput="ngModel"/>
      <p *ngIf="nameInput.touched && !nameInput.valid" class="text-danger">Name is required</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 labeled-input">
      <label for="city">City:</label>
      <input class="form-control" name="city" id="city" type="text" placeholder="" [(ngModel)]="venue.city" required
             #cityInput="ngModel"/>
      <p *ngIf="cityInput.touched && !cityInput.valid" class="text-danger">City is required</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 address">
      <div class="d-flex">
        <div class="street d-inline-block">
          <label for="street">Street:</label>
          <input class="form-control" name="street" id="street" type="text" placeholder="" [(ngModel)]="venue.street"
                 required #streetInput="ngModel"/>
        </div>
        <div class="houseNumber d-inline-block">
          <label for="houseNumber">Number:</label>
          <input class="form-control" name="houseNumber" id="houseNumber" type="text" placeholder=""
                 [(ngModel)]="venue.houseNumber" required #houseNumberInput="ngModel"/>
        </div>
      </div>
      <p *ngIf="(streetInput.touched && !streetInput.valid) || (houseNumberInput.touched && houseNumberInput.invalid)"
         class="text-danger">Street and house number are required</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 labeled-input">
      <label for="zipCode">ZIP code:</label>
      <input class="form-control" name="zipCode" id="zipCode" type="text" placeholder="" [(ngModel)]="venue.zipCode"
             required
             #zipCodeInput="ngModel"/>
      <p *ngIf="zipCodeInput.touched && !zipCodeInput.valid" class="text-danger">ZIP-Code is required</p>
    </div>
        <div class="col-12 col-sm-6 col-lg-4 labeled-input">
            <label for="country">Country:</label>
          <input class="form-control" name="country" id="country" type="text" placeholder="" [(ngModel)]="venue.country"
                 #countryInput="ngModel"/>
            <p *ngIf="countryInput.touched && !countryInput.valid" class="text-danger">Country is required</p>
        </div>
    </div>
</form>
<h2>{{confirmText + ' rooms'}}:</h2>
<button name="button" class="btn btn-outline-primary dropdown-toggle mt-2 mb-2 text-right" type="button" id="addRoomDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-plus"></i>Add room…
    </button>

<div class="dropdown-menu" aria-labelledby="addRoomDropdown">
  <form #addRoomForm="ngForm" class="form-group">
    <h5>Input size:</h5>
    <label for="roomName">Name:</label>
    <input class="form-control" type="text" name="roomName" id="roomName" [(ngModel)]="roomToAdd.name" #createRoomNameInput="ngModel" required>
    <p *ngIf="createRoomNameInput.touched && createRoomNameInput.invalid">Name is required</p>
    <label for="rows">Rows:</label>
    <input class="form-control" type="number" name="rows" id="rows" [(ngModel)]="roomToAdd.rowSize"
           #createRoomRowsInput="ngModel" required>
    <p *ngIf="createRoomNameInput.touched && createRoomNameInput.invalid">Number of rows are required!</p>
    <label for="columns">Columns:</label>
    <input class="form-control" type="number" name="columns" id="columns" [(ngModel)]="roomToAdd.columnSize"
           #createRoomColumnsInput="ngModel"
           required>
    <p *ngIf="createRoomNameInput.touched && createRoomNameInput.invalid">Number of columns are required!</p>
    <button class="btn btn-secondary float-start" type="">Cancel</button>
    <button class="btn btn-primary float-end" type="submit" (click)="addRoom($event)">Create</button>
  </form>

  <ul>
    <li *ngFor="let saved of savedItems"></li>
  </ul>
</div>

<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let room of venue.rooms; index as index">
    <ng-template ngbPanelHeader>
      <div class="d-flex justify-content-between">
        <button ngbPanelToggle class="accordion-button d-flex">
          <span class="flex-grow-1">{{room.name}}</span>
          <button class="btn btn-outline-danger mr-4" (click)="deleteRoom($event, room, index)"><i
            class="bi bi-trash"></i></button>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-room-element (updated)="saveStoredVenue()" [room]="room"></app-room-element>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="d-flex">
  <div class="flex-grow-1">
    <button class="btn confirm btn-secondary mt-2" (click)="onCancelClick()">Cancel</button>
  </div>

  <button class="btn confirm btn-primary mt-2" (click)="onCreateVenueClick()"
          [disabled]="!createVenueForm.valid || !this.venue.rooms || this.venue.rooms?.length === 0">{{confirmText}}</button>
</div>
