<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formCreateUser"></span>
      <p class="text-center mb-5">
        Create new user
      </p>
      <div>
        <form class="form" [formGroup]="createUserForm" (ngSubmit)="createUser()">
          <div class="row">
            <div class="form-group col">
              <label for="inputFirstName">First name *</label>
              <input type="text" name="firstName" formControlName="firstName" class="form-control" id="inputFirstName"
                aria-describedby="firstNameHelp" placeholder="First name">
              <div *ngIf="submitted && createUserForm.controls.firstName.errors" class="error">
                <small class="form-text text-warning" *ngIf="createUserForm.controls.firstName.errors.required">Your
                  first name
                  is
                  required!
                </small>
              </div>
            </div>
            <div class="form-group col">
              <label for="inputLastName">Last name *</label>
              <input type="text" name="lastName" formControlName="lastName" class="form-control" id="inputLastName"
                aria-describedby="lastNameHelp" placeholder="Last name">
              <div *ngIf="submitted && createUserForm.controls.lastName.errors" class="error">
                <small class="form-text text-warning" *ngIf="createUserForm.controls.lastName.errors.required">Your
                  last name
                  is
                  required!
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputEmail">Email address *</label>
                <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                  aria-describedby="emailHelp" placeholder="Email address">
                <div *ngIf="submitted && createUserForm.controls.email.errors" class="error">
                  <small class="form-text text-warning" *ngIf="createUserForm.controls.email.errors.required">Your
                    email
                    is
                    required!
                  </small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" name="password" formControlName="password" class="form-control"
                  id="inputPassword" placeholder="Password">
                <div *ngIf="submitted && createUserForm.controls.password.errors" class="error">
                  <small class="form-text text-warning" *ngIf="createUserForm.controls.password.errors.required">Your
                    password
                    is
                    required!
                  </small>
                  <small class="form-text text-warning" *ngIf="createUserForm.controls.password.errors.minlength">Your
                    password
                    must be at least 8 characters long!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-check form-switch mr-4">
            <input class="form-check-input" role="switch" type="checkbox" formControlName="isAdmin" id="isAdmin">
            <label class="form-check-label" for="accountNonLocked">admin</label>
          </div>
          <div class="col d-flex justify-content-center my-5">
            <button type="button" (click)="createUser()" class="btn btn-primary w-75" id="createButton"
                    [disabled]="!this.createUserForm.valid">create
            </button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
