<div class="pt-4">
  <h3>Type in new Password</h3>

  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="submitPassword()">
    <div class="form-group my-2">
      <label for="password">Password *</label>
      <input type="password" name="password" formControlName="password" class="form-control" id="inputPassword"
        placeholder="Password">
      <div *ngIf="submitted && changePasswordForm.controls.password.errors" class="error ">
        <small class="form-text text-warning" *ngIf="changePasswordForm.controls.password.errors.required">Your
          password
          is
          required!
        </small>
        <small class="form-text text-warning" *ngIf="changePasswordForm.controls.password.errors.minlength">Your
          password
          must be at least 8 characters long!
        </small>
      </div>
    </div>
    <button type="submit" (click)="submitPassword()" class="btn btn-primary" id="submitButton">submit</button>
  </form>
</div>
