<span>
  <br>
  <h2>Events</h2>
  <span>
    <button type="button" class="btn btn-primary mr-1" routerLink="create">Create Event</button>
  </span>
  <br>
</span>
<ngb-accordion #ac1="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Search for Events">
    <ng-template ngbPanelContent>
      <app-event-search (searchRequest)="search($event)"></app-event-search>
      <app-event-search-result [pagedEvents]="this.pagedEventDtos | async"
                               (pageChangedEvent)="sendPagedEventRequest($event)"></app-event-search-result>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<br>
<ngb-accordion #ac2="ngbAccordion">
  <ngb-panel title="Top of the month">
    <ng-template ngbPanelContent>
      <app-event-search-result [pagedEvents]="this.eventsTopOfTheMonth | async"
                               (pageChangedEvent)="sendPagedTopOfTheMonthEventRequest($event)"></app-event-search-result>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
