<div>
  <br>
  <div class="d-flex justify-content-between">
    <h2>Events</h2>
    <span>
    <button type="button" class="btn btn-primary mr-1" routerLink="create" *ngIf="auth.isAdmin()">
      <i class="bi bi-plus-circle me-2"></i>Add Event</button>
    </span>
  </div>
  <br>
</div>

<ngb-accordion #ac1="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Find Events">
    <ng-template ngbPanelContent>
      <app-event-search (searchRequest)="search($event)"></app-event-search>
      <app-event-search-result [pagedEvents]="this.pagedEventDtos | async"
                               (pageChangedEvent)="sendPagedEventRequest($event)"></app-event-search-result>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<br>
<ngb-accordion #ac2="ngbAccordion">
  <ngb-panel title="Popular Events">
    <ng-template ngbPanelContent>
      <app-event-search-result [pagedEvents]="this.eventsTopOfTheMonth | async"
                               (pageChangedEvent)="sendPagedTopOfTheMonthEventRequest($event)"></app-event-search-result>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
