<div class="bg-white rounded-2 py-3 px-3 d-flex flex-column min-height-0 h-100">
  <div class="fw-bold px-2">{{getHeader()}}</div>

  <div *ngIf="(tickets$ | async).length === 0" class="fw-lighter px-2 py-3 text-center">Seems like your cart is empty
  </div>

  <div *ngIf="(tickets$ | async).length !== 0"
       class="container-fluid py-3 flex-shrink-1 min-height-0 d-flex flex-column">
    <ul class="overflow-auto list-group list-group-flush flex-grow-1">
      <li *ngFor="let ticket of tickets$ | async" class="list-group-item" (mouseenter)="onHoverStart(ticket)"
          (mouseleave)="onHoverEnd(ticket)">
        <app-ticket-item [muted]="performanceId && performanceId !== ticket.performanceId"
                         [hoverable]="performanceId && performanceId === ticket.performanceId" [ticket]="ticket"
                         (delete)="onHoverEnd(ticket)"></app-ticket-item>
      </li>
    </ul>
    <div class="fw-normal text-end pt-4 pe-4">
      {{getTotalAmount()}}
    </div>
  </div>

  <span *ngIf="(tickets$ | async).length !== 0 && !checkoutMode" class="d-flex justify-content-between px-3">
    <button type="button" (click)="clearCart()" class="btn btn-light">Clear cart</button>
    <button type="button" [routerLink]="['/order/cart/']" class="btn btn-primary">Checkout</button>
  </span>

  <span *ngIf="(tickets$ | async).length !== 0 && checkoutMode && authService.isLoggedIn()" class="d-flex justify-content-center">
    <button type="button" (click)="reserveTickets()" class="btn btn-light me-4">Reserve Tickets</button>
    <button type="button" (click)="purchaseTickets()" class="btn btn-primary">Purchase Tickets</button>
  </span>

</div>
