.room-info {
  height: 18rem;
  width: 100%;
}

.room-plan-wrapper {
  height: 17rem;
  overflow: scroll;
}

.priceCategories {
  max-height: 100%;
}

.price-category-list {
  height: 100%;
  overflow-y: auto;
}
