<h1 class="display-6">add performances</h1>
<form [formGroup]="eventCreateFormGroup">
  <ng-container formArrayName="performances">
    <div *ngFor="let performance of performances.controls; let i = index;">
      <div class="form-group row" [formGroupName]="i">
        <div class="col-sm-3">
          <ng-select [multiple]="true" formControlName="artistsControl">
            <ng-option *ngFor="let artist of artists | async" [value]="artist">{{artist.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-2">
          <select class="form-control dropdown-toggle" formControlName="venueControl">
            <option *ngFor="let venue of venues | async" [ngValue]="venue">
              {{venue.name}}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control dropdown-toggle" formControlName="roomControl">
            <option *ngFor="let room of performance?.value.venueControl?.rooms" [ngValue]="room">
              {{room.name}}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <app-date-time-picker placeholder="start time"
                                formControlName="startDateControl">
          </app-date-time-picker>
        </div>
        <div class="col-sm-2">
          <app-date-time-picker placeholder="end time"
                                formControlName="endDateControl">
          </app-date-time-picker>
        </div>
        <div class="col-sm">
          <button type="button" (click)="removePerformance(i)" class="btn btn-sm responsive-danger-button bi bi-trash float-end"
                  style="color: red"></button>
        </div>
      </div>
    </div>
  </ng-container>
  <br>
  <button type="button" class="btn btn-secondary" (click)="addPerformance()">
    +
  </button>
</form>
