<div class="form-group row" [formGroup]="form">
    <div class="col-sm-3">
        <label for="artists">Artists</label>
        <ng-select id="artists" [multiple]="true" [closeOnSelect]="false" formControlName="artistsControl"
                   [items]="artists |async"
                   bindLabel="name">
        </ng-select>
    </div>
    <div class="col-sm-2">
        <label for="venue">At Venue</label>
        <ng-select id="venue" formControlName="venueControl" [items]="venues | async" bindLabel="name">
        </ng-select>
    </div>
    <div class="col-sm-2">
        <label for="room">In Room</label>
        <ng-select id="room" formControlName="roomControl" [items]="rooms | async" bindLabel="name"
                   bindValue="id">
        </ng-select>
    </div>
    <div class="col-sm-2">
        <label for="startTime">Starting from</label>
        <app-date-time-picker id="startTime" placeholder="start time"
                              formControlName="startDateControl">
        </app-date-time-picker>
    </div>
    <div class="col-sm-2">
        <label for="endTime">Until</label>
        <app-date-time-picker id="endTime" placeholder="end time" inputDatetimeFormat="dd/MM/yyyy hh:mm a"
                              formControlName="endDateControl">
        </app-date-time-picker>
    </div>
    <div>

    </div>
    <div class="room-info row mt-3">
        <div class="room-plan col-12 col-md-9 ">
            <h4>Block seats</h4>
            <div class="room-plan-wrapper">
                <app-room-plan *ngIf="selectedRoom$ && selectedRoom$ | async; let room; else noRoomSelected"
                               [room]="room"
                               [width]="300"
                               [height]="150"
                               (hover)="hover($event)"
                               (hoverEnd)="resetColor($event, form.controls.blockedSeatsControl)"
                               (multiSelectChange)="multiSelectChange($event, form.controls.blockedSeatsControl)"
                               (multiSelectEnd)="multiSelectEnd($event, form.controls.blockedSeatsControl)">
                </app-room-plan>
                <ng-template #noRoomSelected>
                    <p>Please select a room</p>
                </ng-template>
            </div>
        </div>

        <div class="col-12 col-md-3 priceCategories d-flex flex-column">
            <h4>Set prices for price categories</h4>
            <ng-container *ngIf="priceCategories |async; else noRoomSelected">
                <ng-container *ngIf="priceCategories |async; else priceCategoriesLoading">
                    <ng-container *ngIf="(priceCategories |async)?.length > 0; else noPriceCategories">
                        <ul class="p-0 price-category-list">
                            <li class="form-group row"
                                *ngFor="let priceCategory of priceCategories | async" formGroupName="pricingsGroup">
                                <div class="col">
                                    <p><i class="bi bi-square-fill mr-1 "
                                          [ngStyle]="{color: '#' + priceCategory.color}"></i>{{priceCategory.name}}</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="number" step="0.01" placeholder="Pricing"
                                           [formControlName]="priceCategory.id"/>
                                </div>
                            </li>
                        </ul>
                    </ng-container>
                </ng-container>
                <ng-template #priceCategoriesLoading>
                    <ngx-spinner type="line-scale" size="md" name="price-categories-spinner" bdColor="#8888"
                                 [fullScreen]="false"></ngx-spinner>
                </ng-template>

                <ng-template #noPriceCategories>
                    <p>Seems like your room has no PriceCategories set.</p>
                    <p>Click <a [routerLink]="['/admin/venue/edit/', form.controls.venueControl.value.id]"
                                target="_blank">here <i class="bi bi-box-arrow-up-right"></i></a> to edit the venue</p>
                </ng-template>
            </ng-container>
        </div>
    </div>

</div>
