<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div>
  <br>
  <div class="d-flex justify-content-between">
    <h2 *ngIf="!this.archive">Latest News</h2>
    <h2 *ngIf="this.archive">News Archive</h2>
    <span>
    <button type="button" class="btn btn-primary btn me-2" *ngIf="authService.isAdmin()"
            (click)="navigateCreatePage()"><i class="bi bi-plus-circle me-2"></i>Create News Entry
    </button>
    <button type="button" class="btn btn-secondary btn" *ngIf="!this.archive"
            (click)="navigateArchivePage()"><i class="bi bi-newspaper me-2"></i>View News Archive
    </button>
    <button type="button" class="btn btn-secondary btn" *ngIf="this.archive"
            (click)="navigateLatestPage()"><i class="bi bi-newspaper me-2"></i>View Latest News
    </button>
    </span>
  </div>
  <br>
</div>

<div *ngIf="pagedProperties.data.length === 0" class="container loading-skeleton">
  <div class="row">
    <div class="col-3 p-2" *ngFor="let item of [].constructor(20); let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row card-group">
  <div class="col-3 p-2" style="display: table"  *ngFor="let news of pagedProperties.data">
    <div class="card" style="display: table-cell" >
      <div class="card-body">
        <h5 class="card-title">{{news.title}}</h5>
        <p class="card-text">{{news.summary}}</p>
        <a href="/#/news/details/{{news.id}}">Read More</a>
        <p class="card-text mt-2"><small class="text-muted">{{news.publishedAt | date}}</small></p>
      </div>
    </div>
  </div>
</div>



<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="this.pagedProperties.hits"
    [(page)]="this.pagedProperties.pageIndex"
    [pageSize]="this.pagedProperties.pageSize"
    (pageChange)="refreshNews()">
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="this.pagedProperties.pageSize"
          (ngModelChange)="refreshNews()">
    <option [ngValue]="25">25 Entries</option>
    <option [ngValue]="50">50 Entries</option>
    <option [ngValue]="100">100 Entries</option>
  </select>
</div>
