<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div>
  <br>
  <div class="fourXone">
    <h2>News</h2>
    <span style="width: 80%"></span>
    <button type="button" class="btn btn-secondary btn-sm mr-4" *ngIf="authService.isAdmin()"
            (click)="navigateCreatePage()">Create News Entry
    </button>
  </div>
  <br>
</div>

<div class="mt-4 container">
  <div class="row m-xl-4 m-lg-3">

    <div class="p-2" *ngFor="let news of loadNews()">

      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <h4 class="card-title">{{news.title}}</h4>
              <h5 class="card-subtitle mb-2 text-muted">{{news.publishedAt | date}}</h5>
            </div>

            <div class="col-10">
              <p class="card-text">{{news.summary}}</p>
              <a href="/#/news/details/{{news.id}}">Read More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between p-2">
      <div class="btn-group">
        <button class="form-control btn btn-sm btn-outline-secondary" (click)="previousPage()"><<</button>
        <button class="btn btn-outline-primary disabled">{{this.pagedProperties.pageIndex+1}}</button>
        <button class="form-control btn btn-sm btn-outline-secondary" (click)="nextPage()">>></button>
      </div>

      <select class="form-select" style="width: auto" [(ngModel)]="this.pagedProperties.pageSize"
              (ngModelChange)="refreshNews()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </div>
</div>

