<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete {{name}}?</h4>
    <button type="button" class="btn btn-light" aria-label="Close" (click)="close(false)">
        <i class="bi bi-x"></i>
        </button>
</div>



<div class="modal-body">
    <p><strong>Do you really want to delete the {{type}} <span class="text-primary">"{{name}}"</span>?</strong></p>

    <p>All data of {{name}} will be removed permanently.</p>
</div>
<div class="d-inline-block modal-footer w-100 float-end">
    <button type="button" class="btn btn-light" (click)="close(false)">
            Cancel
        </button>
    <span style="flex-grow: 1"></span>
    <button type="button" class="btn btn-danger float-end" (click)="close(true)">
            <i class="bi bi-trash"></i>
            Delete
        </button>
</div>