<div>
  <br>
  <div class="fourXone">
    <div>
      <h2>{{this.news.title}}</h2>
      <h5>{{this.news.publishedAt | date}}</h5>
    </div>

    <span style="width: 80%"></span>
    <button type="button" class="btn btn-secondary btn-sm mr-4"
            (click)="navigateLatestPage()">View Latest News
    </button>
  </div>
  <br>
  <div class="h-25 row align-items-center">
    <div class="col-3">
      <img id="newsImage" class="h-100 img-fluid" src="{{this.imageUrl}}">
    </div>

    <div class="col-9">
      <p id="summary">{{this.news.summary}}</p>
    </div>
  </div>
  <br>
  <div class="row">
    <p id="text">{{this.news.text}}</p>
  </div>
</div>


