@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: whitesmoke;
}

.fourXone {
  display: flex;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  gap: 10px 20px;
}

.twoXone {
  display: flex;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 10px 20px;
  margin-top: 1%;
  margin-left: .3rem;
}

.hidden {
  display: none;
}

.min-height-0 {
  min-height: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    // --bs-body-bg: rgb(18, 26, 27);
  }
}

