@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #F2F2F2;
}

.hidden {
  display: none;
}

.min-height-0 {
  min-height: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    // --bs-body-bg: rgb(18, 26, 27);
  }
}

.container {
  margin-top: 4em;
  margin-bottom: 4em;
}

// Bootstrap Loading Skeleton
%loading-skeleton {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: gray;
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}
@keyframes loading-skeleton {
  from {
    opacity: .1;
  }
  to {
    opacity: .3;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton .6s infinite alternate;

  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }
  h1, h2, h3, h4, h5, h6,
  p, li,
  .btn,
  label,
  .form-control {
    @extend %loading-skeleton;
  }
}

