@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: whitesmoke;
}

html {
  margin: 0;
  padding: 0;
}

.fourXone {
  display: flex;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  gap: 10px 20px;
}

.twoXone {
  display: flex;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 10px 20px;
  margin-top: 1%;
}
