<div class="position-relative w-100 h-100 wrapper" #wrapper>
  <div #panzoom id="zoomable">
    <svg #svgRoot>
    </svg>
  </div>
  <p class="mt-2 popper"><i class="bi bi-info-circle-fill"
                            [popper]="infoContent"
                            [popperTrigger]="'hover'"
                            [popperHideOnMouseLeave]="true"
                            [popperPlacement]="'bottom'"
                            [popperPositionFixed]="true"
                            [popperBoundaries]="'.wrapper'"
                            [popperStyles]="{'backgroundColor' : 'white'}"></i></p>
  <popper-content #infoContent class="popper text-secondary">
    <p><i class="bi bi-arrows-angle-expand"></i> Use scrolling to zoom in and out</p>
    <p><i class="bi bi-hand-index"></i> Click to select seats</p>
    <p><i class="bi bi-grid-3x2-gap"></i> Hold mouse down to select multiple elements</p>
    <p><i class="bi bi-arrows-move"></i> Hold mouse down while pressing <i class="bi bi-shift"></i>shift to pan</p>
  </popper-content>
</div>
