<div>
  <br>
  <div class="d-flex justify-content-between">
    <h2>Artists</h2>
    <span>
    <button type="button" class="btn btn-primary mr-1" routerLink="create" *ngIf="auth.isAdmin()">
      <i class="bi bi-plus-circle me-2"></i>Add Artist</button>
    </span>
  </div>
  <br>
</div>


<div *ngIf="artists.length === 0"  class="container loading-skeleton">
  <div class="row">
    <div class="col-3 p-2" *ngFor="let item of [].constructor(20); let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row card-group">
  <div class="col-3 p-2" *ngFor="let artist of artists">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{artist.name}}</h5>
      </div>
    </div>
  </div>
</div>
